.modal-title {
  font-weight: bold;
  width: 90%;
  overflow-wrap: break-word;
  hyphens: auto;
}

.message {
  margin-top: -3%;
  margin-bottom: 10%;
  overflow-wrap: break-word;
  hyphens: auto;
}

.date {
  font-weight: bold;
}
