.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

a {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  height: 7%;
  position: fixed;
  background: white;
  padding: 10px 0;
  color: #fff;
  z-index: 1;
  top: 0;
  left: 0;
  border-bottom: 1px solid #808080;
}

.page {
  font-weight: bold;
  /*margin-right: 13%;*/
}

nav {
  margin-top: -2%;
}

/************** LOGO **************/
.logo {
  height: 17vw;
  margin-top: -18%;
  margin-left: -30%;
}

/************** NOTIFICATIONS **************/
.alert {
  width: 19vw;
  margin-top: -11%;
  margin-left: 25%;
}

.notify {
  margin-right: -5%;
}

.badge {
  position: absolute;
  top: 15%;
  right: 5.75%;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 0.75rem;
}

@media screen and (min-height: 811px){
  .page {
    margin-top: 1%;
  }
  .alert {
    width: 21vw;
    margin-top: -8%;
  }

  .logo {
    margin-top: -12%;
  }
}

@media screen and (height: 568px) and (width: 320px){
  a {
    font-size: 1.5rem;
  }

  .alert{
    width: 22vw;
  }
}
