<div class="header">
  <div class="container">
    <nav>
      <a class="logo-link" (click)="changeHome()">
        <img class="logo" src="../../../assets/svg/logo.png" alt="logo"/>
      </a>
      <a class="page">{{ page }}</a>
      <a class="notify" href="#">
        <img
          class="alert"
          src="../../../assets/svg/alert.svg"
          alt="alert"
        />
        <span class="badge" *ngIf="notifcationNumber">{{ notifcationNumber }}</span>
      </a>
    </nav>
  </div>
</div>
