.body {
  margin-top: 20%;
  margin-bottom: 20%;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 90%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cards {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

