<div class="card">
  <p class="title">Account Info</p>
  <div>
    <p class="item-title">Full Name</p>
    <p class="item">{{userInfo.FullName}}</p>
  </div>
  <div class="follow">
    <p class="item-title">Username</p>
    <p class="item">{{userInfo.username}}</p>
  </div>
  <div class="follow">
    <p class="item-title">Email</p>
    <p class="item">{{userInfo.email}}</p>
  </div>
  <div class="follow last">
    <p class="item-title">Phone Number</p>
    <p class="item">{{userInfo.phone}}</p>
  </div>
</div>

