h2 {
  font-family: 'Poppins', sans-serif;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
  .desktop{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errorMsg{
    text-align: center;
    width: 90%;
  }

  .info-container {
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    width: 80vw;
    height: 50vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .images {
    border-left: 1px solid #707070;
  }
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
}


