<div class="app" *ngIf="appCheck">
  <app-app-index></app-app-index>
</div>
<div class="app" *ngIf="!appCheck">
  <div class="mobile">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">iPhone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Android</a>
      </li>
    </ul>
  </div>
  <div class="desktop">
    <div class="info-container">
      <div class="errorMsg">
        <h2>Goshen Redhawk App is not supported on tablets, laptops or desktops yet. Please reconnect with a mobile phone to download.</h2>
      </div>
    </div>
  </div>
</div>




