<div class="calendar-container">
  <div class="calendar">
    <ngb-datepicker [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
  </div>
  <div class="list-view">
      <app-calendar-list [first]="true"></app-calendar-list>
      <app-calendar-list [first]="false"></app-calendar-list>
      <app-calendar-list [first]="false"></app-calendar-list>
      <app-calendar-list [first]="false"></app-calendar-list>
      <app-calendar-list [first]="false"></app-calendar-list>
      <app-calendar-list [first]="false"></app-calendar-list>
      <pre>Model: {{ model | json }}</pre>
  </div>
</div>



